<h1>Will be a form</h1>


<%= form_for @link do |f| %>
  <p>
    <%= f.label :long_url %><br>
    <%= f.text_field :long_url %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<h3>Top 100 Links</h3>